# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Build outputs
DerivedData/
build/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
